* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    -webkit-tap-highlight-color: transparent;
}

.titlebar {
    height: 80px;
    width: 100vw;
    background-color: rgb(85, 195, 225);
    float: top;
    display: flex;
}

.titlebar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 500px) {
    .titlebar ul {
        margin-left: 10%;
        width: 80%;
    }
}

.titlebar li {
    height: 80px;
}

.titlebar li a {
    display: block;
    text-decoration: none;
    padding: 32px 20px 0px 20px;
    color: #ffffffc1;
}

.titlebar li a.selected {
    display: block;
    text-decoration: none;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, .5));
    color: #ffffff;
}

.sidebar {
    width: 30%;
    padding-top: 12px;
    padding-bottom: 25px;
    margin-right: 20px;
}

@media screen and (min-width: 500px) {
    .sidebar {
        width: 20%;
    }
}

.content {
    width: 70%;
    padding-bottom: 25px;
}

@media screen and (min-width: 500px) {
    .content {
        width: 80%;
    }
}

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    min-width: 1280px;
    height: 66px;
    background-color: rgba(240, 240, 240, 0);
}

.bg {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('https://gcore.jsdelivr.net/gh/Moriafly/MoriaflyCom@latest/res/img/lzumi.webp');
}

.container {
    display: flex;
    width: 100%;
    padding: 0 20px;
}

@media screen and (min-width: 500px) {
    .container {
        width: 80%;
        margin: 0 0 0 10%;
    }
}

.container h1 {
    font-size: 1.6em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.container h2 {
    word-break: break-all;
    font-size: 1.2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.container p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2em;
    font-size: 1em;
    padding: 0px;
    color: rgb(80, 80, 80);
    white-space: pre-wrap;
}

.container li {
    margin-left: 4px;
    margin-top: 10px;
    line-height: 2em;
    font-size: 1em;
    margin-bottom: 10px;
}

.bottom {
    width: 100%;
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom p {
    margin: 0;
    padding: 0 20px;
    font-size: 1em;
    color: rgb(80, 80, 80);
}

a {
    color: rgb(17, 112, 255);
    text-decoration: none;
}

a:active {
    outline: none;
}

a:link {
    color: rgb(17, 112, 255);
}

a:visited {
    color: rgb(17, 112, 255);
}

code {
    color: rgb(0, 137, 59);
    background-color: rgb(240, 240, 240);
    font-size: 1em;
    padding: 4px 6px;
    border-radius: 4px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 侧栏媒体链接项目 */
.sidebar .link-item {
    margin: 10px 0 10px 0;
}

@media screen and (min-width: 850px) {
    .sidebar .link-item {
        display: flex;
        align-items: center;
    }
}

.sidebar .link-item:hover {
    cursor: pointer;
}

.sidebar .link-item img {
    width: 28px;
    height: 28px;
}

.sidebar .link-item p {
    margin: 0;
    color: rgb(17, 112, 255);
    line-height: 1.4em;
}

@media screen and (min-width: 850px) {
    .sidebar .link-item p {
        margin: 0 0 0 4px;
        color: rgb(17, 112, 255);
    }
}

.software-list {
    list-style: none;
    padding: 0;
}

.software-list li {
    margin: 15px 0px 15px 0px;
}

.software-list li .icon {
    width: 50px;
    height: 50px;
    border-radius: 0%;
    border: 1px solid #e9e9e9;
    margin-right: 20px;
}

.software-list li .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.software-list li .content-app {
    flex: 1;
}

.software-list li h3 {
    word-break: break-all;
    margin: 0 0 6px 0;
    color: #000;
    line-height: 1.5em;
}

.software-list li p {
    margin: 6px 0 0 0;
    font-size: 0.9em;
    line-height: 1.5em;
}

.item-link {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: #000;
    background-color: #fafafa;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    padding: 15px 20px;
}

.item-link:hover {
    transform: scale(1.05);
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}