body {
    margin: 0;
    background-color: white;
    font-family: "Times New Roman", Times, serif;
}

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    min-width: 1280px;
    height: 66px;
    background-color: rgba(240, 240, 240, 0);
}

.bg {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    background-image: url('../res/img/lzumi.png');
}

.container {
    width: 100%;
    padding: 20px;
    color: rgb(30, 30, 30);
    text-align: center;
}

.container h1 {
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container p {
    font-size: 1.2em;
    color: rgb(80, 80, 80);
}

.bottom {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    text-align: center;
}

.bottom p {
    margin: 0;
    font-size: 1em;
    color: rgb(80, 80, 80);
}